body{
    background-color: black;
    color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


